<!DOCTYPE html>
<html>
<head>
    <title>Track {{ titulo }}</title>
</head>
<body>

    <section>
    {{ selected_track }}
        <ul>
            {% for track in tracks %}
	    <li>
                <a href="{{ track.get_absolute_url}}">{{ track.title }}</a>
		{% if track.id == selected_track.id %} ---- {% endif %}
            </li>
	    {% endfor %}
        </ul>
        <p>
            Title: {{ track.title }}
        </p>
        <p>
            Order: {{ track.order }}
        </p>
        <p>
            File: {{ track.track_file }}
        </p>
        <p>
            Album: {{ track.album }}
        </p>
        <p>
            Artist: {{ track.artist }}
        </p>
        <p>
            Biography: {{ bio }}
        </p>
    </section>

</body>
</html>