<!DOCTYPE html>
<html>
<head>
    <title>Track {{ titulo }}</title>
</head>
<body>

    <section>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/tracks/Happy">Happy</a>
            </li>
        </ul>
        <p>
            Title: {{ track.title }}
        </p>
        <p>
            Order: {{ track.order }}
        </p>
        <p>
            File: {{ track.track_file }}
        </p>
        <p>
            Album: {{ track.album }}
        </p>
        <p>
            Artist: {{ track.artist }}
        </p>
        <p>
            Biography: {{ bio }}
        </p>
    </section>

</body>
</html>